*.a
*.o
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk

# should be a symlink to wherever the samples are
/sample-libs

study-3/old/app-lib
study-3/code-lib/bin/*.dSYM
